@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;

}

header {
    padding: 10px;
}

/* index contenido central */
.contenido>p {

    padding: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
    margin: auto;

}

.tablaIndex {
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}

.contenido .subtitulos {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.tituloCabaniaBasica {
    background: rgb(5, 150, 218);
    padding: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.tituloCabaniaEstandar {
    background: rgb(5, 150, 218);
    color: white;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.tituloCabaniaPremium {
    background: rgb(5, 150, 218);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.bloqueColorEstandar {
    width: 50px;
    height: 20px;
    background-color: rgb(15, 221, 15);
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);

}

.bloqueColorPremium {
    width: 50px;
    height: 20px;
    background-color: rgb(38, 197, 189);
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
}

.ulCabanias {
    list-style-type: none;
}

.contenidoCabanias {
    background: rgba(74, 75, 80, 0.13);
    height: 250px;
    list-style-type: none;
    width: 20%;
    font-family: 'Oswald', sans-serif;

}

/* LOGO  index*/
#logo {
    color: black;
    border-bottom: 7px black double;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    float: left;
}

.logoP {
    color: rgb(235, 95, 95);
}

.botonIndex {
    border: 2px solid rgb(235, 95, 95);
    padding: 8px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(49, 45, 45, 0.534);
    transition: 1s all ease;
}

.botonIndex:hover {
    background: white;
    color: black;
}

/* Menu */
#menuNavegacion {
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    box-shadow: 0 4px 2px -2px gray;

}

.bonusColor {
    background: orange;
    padding: 5px;
}

#ulMenu {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;

}

#liMenu {
    display: inline-block;
    padding: 10px 0px 10px 60px;
    text-decoration: none;
    text-align: right;

}

#liMenu>a {
    color: black;
    text-decoration: none;
}

#liMenu>a:hover {
    color: whitesmoke;
    border-bottom: 3px solid white;
    transition: all 0.3s ease-in-out;


}

#liMenu2 {
    display: inline-block;
    padding: 10px 0px 10px 60px;
    text-decoration: none;

}
/*Pagina Institucion */

.contenidoVal{
    font-family: 'Oswald', sans-serif;
    color: black;
    

}


/* Página CONTACTO*/
.form-container {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-left: 25px;
}

.tituloContacto {
    color: black;
}

#subtituloContacto {
    font-family: 'Oswald', sans-serif;
    color: rgb(11, 176, 252);
}


.subtituloContacto {
    color: #808080;
    font-family: 'Oswald', sans-serif;

}

.labelForm {
    color: white;
}

.inputForm {
    width: 60%;
    padding: 12px 20px;
    margin: 5px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputForm:focus::placeholder {
    color: transparent;
}

textarea:focus::placeholder {
    color: transparent;
}

.boton {
    background-color: rgba(49, 45, 45, 0.534);
    padding: 10px;
    color: rgb(248, 244, 244);
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    font-family: 'Oswald', sans-serif;
}

#tituloFormContacto {
    color: white;
    font-family: 'poppins';
    margin-bottom: 5px;
}

textarea {
    resize: none;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 80px;
}

.imgContacto {
    height: auto;
    width: 100%;

}

.tablaContacto .th2 {
    border-left: 1px solid black;
    background: rgba(74, 75, 80, 0.068);


}

.fondoContacto {
    text-align: left;
    background-size: cover;

    margin-left: 20px;
    font-family: 'Oswald', sans-serif;


}

.fondoContacto p {
    padding: 15px;
    font-family: 'Oswald', sans-serif;
}

/* Página GALERIA*/
.galeria {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#contenedor-divs {
    text-align: center;
}

/* MODAL
.modal-contenedor {
    background-color: rgba(49, 45, 45, 0.534);
    align-items: center;
    position: relative;
    display: block;
    opacity: 0;
    list-style-type: none;

}

.galeria #abrir {
    position: absolute;
    bottom: 10px;
    right: 5px;
    left: 165px;


}

.modal {
    background-color: rgba(49, 45, 45, 0.534);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -180px;
    color: white;
    font-family: sans-serif;
    list-style-type: none;

}

.mostrar {
    pointer-events: auto;
    opacity: 1;
}
*/
.galeria {
    position: relative;

}

/*Pie Pagina */
.piePag {
    color: white;
}

#piePagina {
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #302c2c;
}

#iconoFA {
    display: inline-block;
    color: rgba(255, 255, 255, 0.637);
    margin-right: 7px;
    text-decoration: none;
}

.imagenVenecio {
    border-radius: 50%;
    height: 40px;
}

.tablaFooter {
    background-color: #302c2c;
}

.th2 {
    text-align: center;
    color: white;
}

/*Pagina Novedades */
.tabla1 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 18px;
    font-family: 'Oswald', sans-serif;
}

.tabla1 h2 {
    color: black;
}

.tabla1 p {
    color: black;

}

.tabla1 td {
    background: rgba(74, 75, 80, 0.267);
    text-align: center;
}

.tabla1 th {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    background: rgb(5, 150, 218);
}

.imagen {
    display: block;
    height: 300px;
    width: 100%
}


.ulNovedadesColor {
    color: black;
    font-size: 18px;
    list-style-type: none;
}

.letrasColor {
    color: rgb(255, 0, 0);
    font-size: 25px;
}

/*Página Index (Imagen Principal)*/
.contenedorImagen {
    position: relative;
    text-align: center;
    color: black;
}

.contenedorImagen img {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;

}

.text-block {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;
}

.parrafoIndex {
    color: #808080;
    font-family: 'Oswald', sans-serif;
}

.text-block h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.text-block h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.spanNegro {
    color: black;
}

/* Contenido Reglas*/

.contenidoReglas {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Oswald', sans-serif;

}

ol {
    list-style-position: inside;
}