* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.contenedor-Formulario {
    border-radius: 5px;

    padding: 20px;
    width: 100%;
    text-align: left;
}

.contenedor-respuesta {
    width: 100%;
    border-radius: 5px;


}

.botonBonus {
    padding: 10px;
    background: rgb(5, 150, 218);
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    cursor: pointer;
    color: white;
}
.formLabelBonus{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}
.h1,
h2,
h3,
h4 {
    padding: 20px;
}

.inputFormBonus {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}